# #4-1

In [4]:
%%writefile 4-1.c

# include <stdio.h>

int main (void) {
    float weight,height,bmi;

    printf("체중을 입력하시오: ");
    scanf("%f",&weight);

    printf("신장을 입력하시오(단위: 미터): ");
    scanf("%f",&height);

    bmi = weight / (height*height);
    printf("BMI: %.2f", bmi);

    return 0;
}

Overwriting 4-1.c

In [5]:
%%shell
gcc 4-1.c -o output
./output

체중을 입력하시오: 85
신장을 입력하시오(단위: 미터): 1.8
BMI: 26.23

# #4-2

In [6]:
%%writefile 4-2.c

# include <stdio.h>

int main (void) {
    int x,y,z;

    printf("정수를 세 개 입력하시오: ");
    scanf("%d %d %d",&x,&y,&z);

    printf("%d*%d-%d = %d",x,y,z,x*y-z);

    return 0;
}

Writing 4-2.c

In [8]:
%%shell
gcc 4-2.c -o output
./output

정수를 세 개 입력하시오: 1 2 3
1*2-3 = -1

# #4-3

In [25]:
%%writefile 4-3.c

#include <stdio.h>

int main (void) {
    int price;

    double discount_rate;

    printf("상품 가격을 입력하시오: ");
    scanf("%d",&price);

    printf("할인율을 입력하시오: ");
    scanf("%lf", &discount_rate);

    printf("할인된 가격은 %.2f입니다.", price*((100 - discount_rate)/100));    

    return 0;
}

Overwriting 4-3.c

In [26]:
%%shell
gcc 4-3.c -o output
./output

상품 가격을 입력하시오: 20000
할인율을 입력하시오: 10
할인된 가격은 18000.00입니다.

# #4-4

In [27]:
%%writefile 4-4.c

# include <stdio.h>

int main (void) {
    float kor, eng, math, total;

    printf("세 과목의 점수를 입력하시오:");
    scanf("%f %f %f",&kor, &eng, &math);

    total = kor + eng + math;

    printf("총점 :%.2f\n",total);
    printf("평균 :%.2f",total/3);
    
    return 0;
}

Writing 4-4.c

In [28]:
%%shell
gcc 4-4.c -o output
./output

세 과목의 점수를 입력하시오:80 70 90
총점 :240.00
평균 :80.00

# #5-5

In [29]:
%%writefile 4-5.c

# include <stdio.h>

int main (void) {

    int x,y;

    printf("첫 번째 정수를 입력하시오: ");
    scanf("%d",&x);
    printf("두 번째 정수를 입력하시오: ");
    scanf("%d",&y);

    printf("몫은 %d이고 나머지는 %d입니다.",x/y, x%y);

    return 0;
}

Writing 4-5.c

In [30]:
%%shell
gcc 4-5.c -o output
./output

첫 번째 정수를 입력하시오: 10
두 번째 정수를 입력하시오: 3
몫은 3이고 나머지는 1입니다.

# #4-6

In [32]:
%%writefile 4-6.c

# include <stdio.h>

int main (void) {
    int x;

    printf("정수를 입력하시오: ");
    scanf("%d",&x);
    
    printf("백의 자리수: %d\n", x/100);
    printf("십의 자리수: %d\n",(x%100)/10);
    printf("일의 자리수: %d", x%10);

    return 0;
}

Overwriting 4-6.c

In [33]:
%%shell
gcc 4-6.c -o output
./output

정수를 입력하시오: 378
백의 자리수: 3
십의 자리수: 7
일의 자리수: 8

# #4-7

In [34]:
%%writefile 4-7.c

# include <stdio.h>

int main (void) {
    double x,y;
    printf("x의 값을 입력하시오: ");
    scanf("%lf",&x);

    y = (x*x*x - 20) / (x - 7);
    printf("수식의 값은 %lf입니다.",y);

    return 0;
}

Writing 4-7.c

In [35]:
%%shell
gcc 4-7.c -o output
./output

x의 값을 입력하시오: 10.0
수식의 값은 326.666667입니다.

# #4-8

In [36]:
%%writefile 4-8.c

#include <stdio.h>

int main (void) {
    float x,y;
    int i;

    printf("두개의 실수 값을 입력하시오: ");
    scanf("%f %f",&x, &y);

    i = (int)x+y;
    printf("합의 정수부: %d",i);

    return 0;
}

Writing 4-8.c

In [37]:
%%shell
gcc 4-8.c -o output
./output

두개의 실수 값을 입력하시오: 1.44353 2. 3849
합의 정수부: 3

# #4-9

In [40]:
%%writefile 4-9.c

# include <stdio.h>

int main (void) {
    int num;
    printf("숫자를 입력하시오: ");
    scanf("%d",&num);

    printf("LSB는 %d", num & 1); 

    return 0;
}

Overwriting 4-9.c

In [41]:
%%shell
gcc 4-9.c -o output
./output

숫자를 입력하시오: 9
LSB는 1

# #4-10

In [44]:
%%writefile 4-10.c

# include <stdio.h>

int main (void) {
    int num, n;
    printf("숫자를 입력하시오: ");
    scanf("%d",&num);
    printf("n을 입력하시오: ");
    scanf("%d",&n);

    printf("새로운 값 = %d",(1 << n) | num); 
    
    return 0;
}

Overwriting 4-10.c

In [45]:
%%shell
gcc 4-10.c -o output
./output

숫자를 입력하시오: 9
n을 입력하시오: 2
새로운 값 = 13