In [3]:
%%writefile hello2.c

#include <stdio.h>

int main(void) 
{
  printf("Hello World\n");
  printf("from Seho\n");
  return 0;
}

Writing hello2.c

In [5]:
ls

hello2.c  sample_data/

In [13]:
%%shell
gcc hello2.c -o output
./output

Hello World
from Seho

In [10]:
%%writefile mul1.c  

#include <stdio.h>

int main(void)
{
  printf("3 x 1 = 3\n");
  printf("3 x 2 = 6\n");
  printf("3 x 3 = 9");
  
  return 0;
}

Writing mul1.c

In [11]:
ls

hello2.c  mul1.c  output*  sample_data/

In [14]:
%%shell
gcc mul1.c -o output
./output

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [19]:
%%writefile mul2.c  

#include <stdio.h>

int main(void)
{
  printf("4 x 1 = 4\n");
  printf("4 x 2 = 8\n");
  printf("4 x 3 = 12");
  
  return 0;
}

Overwriting mul2.c

In [16]:
ls

hello2.c  mul1.c  mul2.c  output*  sample_data/

In [20]:
%%shell
gcc mul2.c -o output
./output

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12

In [28]:
%%writefile sum.c

#include <stdio.h>

int main(void)
{
  int x;
  int y;
  int sum;

  x = 100;
  y = 200;

  sum = x + y;
  printf("두 수의 합 = %d\n", sum);

  return 0;
}

Overwriting sum.c

In [22]:
ls

hello2.c  mul1.c  mul2.c  output*  sample_data/  sum.c

In [29]:
%%shell
gcc sum.c -o output
./output

두 수의 합 = 300

In [30]:
%%writefile sum3.c

#include <stdio.h>

int main(void)
{
  int x;
  int y;
  int sum;

  printf("첫 번째 숫자를 입력하시오 : ");
  scanf("%d", &x);  // 하나의 정수를 받아서 x에 저장

  printf("두 번째 숫자를 입력하시오 : ");
  scanf("%d", &y);  // 하나의 정수를 받아서 y에 저장

  sum = x + y;
  printf("두 수의 합 = %d\n", sum);

  return 0;
}

Writing sum3.c

In [31]:
ls

hello2.c  mul1.c  mul2.c  output*  sample_data/  sum3.c  sum.c

In [34]:
%%shell
gcc sum3.c -o outsum3
./outsum3

첫 번째 숫자를 입력하시오 : 100
두 번째 숫자를 입력하시오 : 200
두 수의 합 = 300